<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Register</span></div>
                <hr>
                <h6 class="mb-0">Your Team</h6>
                <div class="d-flex justify-content-between"><span>Balap Karung</span>
                  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show mt-0 mb-4 text-center" role="alert">
                    <strong>Success Register!</strong>You can wait for aprove.
                    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="d-flex flex-row align-items-center"><span class="text-black-50">Start at:</span>
                        <div class="price ml-2"><span class="mr-1">12-12-2021</span><i class="fa fa-angle-down"></i></div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded" *ngFor="let data of getData">
                    <div class="d-flex flex-row"><img class="rounded" src="https://i.imgur.com/Tja5H1c.jpg" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">{{data.name}}</span><span class="spec">{{data.price}}</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block">{{data.gambar}}</span><span class="d-block ml-5 font-weight-bold">{{data.jumlah}}</span><i class="fa fa-trash-o ml-3 text-black-50"></i></div>
                </div>
            </div>

        </div>


        <div class="col-md-4">

            <div *ngIf="this.profileExist===true; else profileDontExist">
            
                <div class="payment-info" *ngIf="this.groupReq===false; else GroupReg">
                    <div class="d-flex justify-content-between align-items-center"><span>Tournament Register </span></div>
                    
                    <div style="margin-top: 1em; display: flex; flex-direction: row;" >
                        <img class="bg-light" width="60" height="60" style="border-radius: 50%; object-fit: cover;" src="{{this.profilesPic}}" />
                        <div style="margin-left: 1em;">
                            <h2 style="margin-bottom: -.1em;">{{this.profiles.fullname}}</h2>
                            <h4>{{this.profiles.email}}</h4>
                        </div>
                    </div>
                    
                
                    <hr class="line">
                    <div class="d-flex justify-content-between information"><span>Tournament name</span><span>{{this.tournamentDatas.tournament.tournamentName}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Tournament subdistrict</span><span>{{this.tournamentDatas.by}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Open</span><span>{{this.tournamentDate[1]}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Start</span><span>{{this.tournamentDate[2]}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Close</span><span>{{this.tournamentDate[0]}}</span>
                    </div><button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="submit" (click)="participantSubmit()"><span>Register</span><span>{{this.tournamentDatas.tournament.tournamentName}}<i class="fa fa-long-arrow-right ml-1"></i></span></button>
            
                </div>

                <!-- as group below -->

                <ng-template #GroupReg>
                    <div *ngIf="this.profiles.groupName===undefined||null; else PartofGroup">
                        <div class="payment-info">
                            <hr class="line">
                            <div class="d-flex justify-content-between information"><span>Tournament
                                    name</span><span>{{this.tournamentDatas.tournament.tournamentName}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Tournament
                                    subdistrict</span><span>{{this.tournamentDatas.by}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Open</span><span>{{this.tournamentDate[1]}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Start</span><span>{{this.tournamentDate[2]}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Close</span><span>{{this.tournamentDate[0]}}</span></div>
                            <button class="btn btn-danger btn-block d-flex justify-content-between mt-3" [disabled] type="submit"
                                (click)="groupSubmit()"><span>Join a Group to register</span><span>{{this.tournamentDatas.tournament.tournamentName}}<i
                                        class="fa fa-long-arrow-right ml-1"></i></span></button>
                        </div>
                    </div>

                    <ng-template #PartofGroup>
                        <div class="payment-info">
                            <div class="d-flex justify-content-between align-items-center"><span>Group Tournament Register </span></div>
                            
                            <div style="margin-top: 1em; display: flex; flex-direction: row;" >
                                <img class="bg-light" width="60" height="60" style="border-radius: 50%; object-fit: cover;" src="{{this.groupPic}}" />
                                <div style="margin-left: 1em;">
                                    <h2 style="margin-bottom: -.1em;">{{this.groupInfo.groupName}}</h2>
                                    <h4>{{this.groupInfo.subDistrict}}</h4>
                                </div>
                            </div>
                        
                        
                            <div style="margin-top: .5em; margin-left: .3em; display: flex; flex-direction: row;" *ngFor="let group of groups; index as i ">
                                <img class="bg-light" width="30" height="30" style="border-radius: 50%; object-fit: cover;" src="https://radiant-reef-49263.herokuapp.com/{{group.picture|lowercase}}" />
                                <div style="margin-left: 1em; margin-top: -.3em;">
                                    <h4 style="margin-bottom: -.1em;">{{group.fullname|lowercase}}</h4> 
                                    <h5>{{group.phoneNumber|lowercase}}</h5>
                                </div>
                            </div>
                        
                        
                            <hr class="line">
                            <div class="d-flex justify-content-between information"><span>Tournament name</span><span>{{this.tournamentDatas.tournament.tournamentName}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Tournament subdistrict</span><span>{{this.tournamentDatas.by}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Open</span><span>{{this.tournamentDate[1]}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Start</span><span>{{this.tournamentDate[2]}}</span></div>
                            <div class="d-flex justify-content-between information"><span>Close</span><span>{{this.tournamentDate[0]}}</span>
                            </div><button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="submit" (click)="groupSubmit()"><span>Group Register</span><span>{{this.tournamentDatas.tournament.tournamentName}}<i class="fa fa-long-arrow-right ml-1"></i></span></button>
                        </div>
                    </ng-template>
                </ng-template>

            </div>
            <ng-template #profileDontExist>
                <div class="payment-info">
                    <hr class="line">
                    <div class="d-flex justify-content-between information"><span>Tournament
                            name</span><span>{{this.tournamentDatas.tournament.tournamentName}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Tournament
                            subdistrict</span><span>{{this.tournamentDatas.by}}</span></div>
                    <div class="d-flex justify-content-between information"><span>Open</span><span>{{this.tournamentDate[1]}}</span>
                    </div>
                    <div class="d-flex justify-content-between information"><span>Start</span><span>{{this.tournamentDate[2]}}</span>
                    </div>
                    <div class="d-flex justify-content-between information"><span>Close</span><span>{{this.tournamentDate[0]}}</span>
                    </div>
                    <button class="btn btn-danger btn-block d-flex justify-content-between mt-3" [disabled] type="submit"
                        (click)="groupSubmit()"><span>Create profile first to
                            register</span><span>{{this.tournamentDatas.tournament.tournamentName}}<i
                                class="fa fa-long-arrow-right ml-1"></i></span></button>
                </div>
            </ng-template>
            


    </div>
</div>