body{ 
    color: #797979;
      background: scroll center url('../../../../assets/img/83927853-template-background-indonesia-independence-day.jpg');
      background-size: cover;
    margin-top:50px
}