
  <section class="showcase">
    
    <video src="" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2 class="text-danger ">Never Stop To</h2> 
      <h3>Exploring Tournament</h3>
      <p>Goverment DKI Jakarta Has Opening a Idepence for 17 August. Will a lot of Lurah Join to Our Idepence this years
          becuase a lot of best Tournament 
      </p>
      
      <a routerLink="home">Explore & Join</a>
    </div>
    

    <ul class="social">
      <li><a href="#"><img src="https://img.icons8.com/wired/64/fa314a/double-down.png"/></a></li>
      <li><a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/circled-down-2.png"/></a></li>
      <li><a href="#"><img src="https://img.icons8.com/wired/64/fa314a/double-down.png"/></a></li>
    </ul>
  </section>
  