
  <section class="showcase">
    
    <video src="https://www.youtube.com/watch?v=h0meKqIWs2k" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2 class="text-danger ">Never Stop To</h2> 
      <h3>Exploring Tournament</h3>
      <p>Goverment DKI Jakarta Has Opening a Idepence for 17 August. Will a lot of Lurah Join to Our Idepence this years
          becuase a lot of best Tournament 
      </p>
      
      <a routerLink="home">Explore & Join</a>
    </div>
    
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  