<p>inbox works!</p>
<div class="container  align-content-between" style="min-height: 60em; padding-bottom: 2em; background-color: rgb(230, 230, 230); margin-top: 5em; margin-bottom: 5em; border-radius: 2em;">
    <ul style="padding: 2em;  list-style-type: none; ">
        

        <div class="noMessage">
            <img src="" alt="">
        </div>



        <li style="background-color: rgb(190, 189, 189); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <!-- <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li>

        <li style="background-color: rgb(75, 192, 196); border-radius: 1em; margin-top: 1em;" routerLink='profile'>
            <div class="message d-flex justify-content-between" style="color: rgb(24, 24, 24); padding-top: 1em; padding-right: 2em; padding-left: 2em; ">
                <h4><b>sender name</b> </h4>
                <h4 >subject</h4>
            </div>
        </li> -->

    </ul>

    <nav aria-label="Page navigation example" class="justify-content-center" >
        <ul class="pagination justify-content-center" style="margin-top: 2em;">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" style="color: black;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" style="color: black;">1</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color: black;">2</a></li>
            <li class="page-item"><a class="page-link" href="#" style="color: black;">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" style="color: black;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    
</div>