<div class="container" style="margin-bottom: 2em; margin-top: 2em; ">
  <a routerLink="hallOfFame">
  <img src="https://assets.newatlas.com/dims4/default/13bc0be/2147483647/strip/true/crop/720x480+600+0/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fgold-melt-2.jpg" 
   style="width: 100%; height: 5em; object-fit: cover; border-radius: 1em;" alt="">
   <h1 style="position: relative; top: -1.2em; right: -1em; font-size: 3em;"> <b style="color: rgb(255, 255, 255);">Hall of Fame</b> </h1>
    </a>
</div>



<div class="mb-3 ml-10 container">
  <label for="exampleFormControlInput1" class="form-label">Search Tournament</label>
  <input  type="text" class="form-control" id="exampleFormControlInput1 browser"
        placeholder="Search Type or Name Tournament" [(ngModel)]="filter">
  <button  class="btn btn-outline-secondary">Search</button>

          <div class="section">
                  <div class="row flex-row-stretch">
                      <div class="col-sm-6 col-md-4 col-lg-3 flex-col" *ngFor="let game of tournaments | filter:filter | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
                          <div class="card">
                              <div class="card-label"><img src="https://asset.kompas.com/crops/bKM6tSBuyMdd2uYxhquUno40yv8=/96x0:681x390/780x390/data/photo/2014/07/02/0823344bendera-merah-putih780x390.jpg" style="width: 20px;">{{game.tournamentType}}</div>
                              <div class="card-photo" style="background-image: url(https://png.pngtree.com/png-vector/20200810/ourlarge/pngtree-indonesia-panjat-pinang-silhouette-17-agustus-independence-day-png-image_2323693.jpg);"></div>
                              <div class="card-body">
                                  <h2 class="text-success">{{game.tournamentName}}</h2>
                                  
                                    <ul>
                                      <li><a><img src="https://img.icons8.com/bubbles/50/000000/trophy.png"/>{{game.stageName}}</a></li>
                                      <li><a><img src="https://img.icons8.com/color/48/000000/calendar--v2.png"/>{{game.tournamentOpen | slice:0:10 }}</a></li>
                                    </ul>
                                
                                  <a class="btn btn-success" routerLink="detailgames/{{game._id}}">View</a>
                                  <span>
                                    <ul class="comment">
                                      <li><a><img src="https://img.icons8.com/nolan/64/topic.png" style="width: 20px;"></a></li>
                                      <li><a href=""><img src="https://img.icons8.com/dusk/50/fa314a/facebook-like.png" style="width:20px"></a></li>
                                    </ul>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>

            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <div class="d-flex justify-content-center">
     <pagination-controls
       previousLabel="Prev"
       nextLabel="Next"
       (pageChange)="onTableDataChange($event)">
     </pagination-controls>
   </div>
            </ul>
          </nav>
          </div>
</div>
