<div class="mb-3 ml-10 container">
  <label for="exampleFormControlInput1" class="form-label">Search Tournament</label>
  <input  type="text" class="form-control" id="exampleFormControlInput1 browser"
        placeholder="Search by name" [(ngModel)]="filter">
  <button  class="btn btn-outline-secondary">Search</button>

          <div class="section">
                  <div class="row flex-row-stretch">
                      <!-- <div class="col-sm-6 col-md-4 col-lg-3 flex-col" *ngFor="let game of tournaments | filter:filter | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
                          <div class="card">
                              <div class="card-label">{{game.tournamentName}}</div>
                              <div class="card-photo" style="background-image: url(https://itagroup.hs.llnwd.net/o40/csg/btr2018/news-banner-vto.jpg);"></div>
                              <div class="card-body">
                                  <h4>This is one flexy little card ready for action</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                  <a class="btn btn-primary" routerLink="detailgames/{{game._id}}">View</a>
                              </div>
                          </div>
                      </div> -->
                  </div>

            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <div class="d-flex justify-content-center">
     <pagination-controls
       previousLabel="Prev"
       nextLabel="Next"
       (pageChange)="onTableDataChange($event)">
     </pagination-controls>
   </div>
            </ul>
          </nav>
          </div>
</div>
